<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block layout_title %} {% end %}</title>
    <meta name="author" content="TorStack">
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    {% block layout_extra_head %}{% end %}
  </head>
  <body>
    {% block layout_header %}{% end %}
    {% block layout_body %}{% end %}
    {% block layout_footer %}{% end %}
    <script src="//cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block layout_extra_script_file %}{% end %}
    {% block layout_extra_script %}{% end %}
  </body>
</html>
