{% extends "base.html" %}

{% block layout_extra_head %}
<link href="{{ static_url("style/public.css") }}" rel="stylesheet">
{% block public_script %}{% end %}
{% end %}

{% block layout_header %}
 <nav class="navbar navbar-default navbar-fixed-top">
   <div class="container">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="/">TorStack Account</a>
     </div>
     <div id="navbar" class="navbar-collapse collapse">
       <ul class="nav navbar-nav navbar-right">
       {% if current_user %}
         <li><a href="/">Account: {{ current_user['username'] }}</a></li>
         <li><a href="/logout">Logout</a></li>
       {% else %}
         <li><a href="/login">Login</a></li>
       {% end %}
       </ul>
     </div>
   </div>
 </nav>
{% end %}

{% block layout_body %}
<div class="container">
    {% block content %}{% end %}
</div>
{% end %}

{% block layout_footer %}
<footer class="footer">
  <div class="container">
    <p class="text-muted">TorStack Examples.</p>
  </div>
</footer>
{% end %}
