{% extends "../layout/public.html" %}

{% block public_project_name %}TorStack Account Example{% end %}

{% block content %}
<div class="jumbotron masthead">
  <div class="container">
    <h1>Welcome, {{ current_user['username'] }}</h1>
    <p>This is a TorStack account example.</p>
    <p class="masthead-button-links">
      <a class="btn btn-lg btn-primary btn-shadow" href="https://github.com/longniao/torstack" role="button" target="_blank">Github</a>
      <a class="btn btn-lg btn-primary btn-shadow" href="/error" role="button">Error Page</a>
    </p>

  </div>
</div>
{% end %}

